<div class="container-fluid">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              (click)="toggleState()">
        <span class="sr-only">{{'nav.toggle_menu' | translate}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">{{'nav.home' | translate}}</a>
    </div>
    <div class="collapse navbar-collapse"
         [ngClass]="{ 'in': isIn }">
      <ul class="nav navbar-nav" (click)="toggleState()">
        <li *ngIf="isLogged()"><a routerLink="/chat" routerLinkActive="active">{{'nav.chat' | translate}}</a></li>
        <li *ngIf="!isLogged()"><a routerLink="/login" routerLinkActive="active">{{'nav.log_in' | translate}}</a></li>
        <li *ngIf="!isLogged()"><a routerLink="/signup" routerLinkActive="active">{{'nav.sign_up' | translate}}</a></li>
        <li *ngIf="isLogged()"><a routerLink="/lessons" routerLinkActive="active">{{'nav.lessons' | translate}}</a></li>
        <li *ngIf="isLogged()"><a [routerLink]="['profile', 0]" routerLinkActive="active">{{'nav.my_profile' |
          translate}}</a></li>
        <li *ngIf="isLogged()"><a class="activeLink" (click)="disconnect()">{{'nav.log_out' | translate}}</a></li>
        <li *ngIf="isLogged()"><a routerLink="/admin" routerLinkActive="active">{{'nav.admin' | translate}}</a></li>
        <li><a (click)="changeLang()">{{'nav.change-lang' | translate}}</a></li>
      </ul>
    </div>
  </nav>
</div>
